.item {
  background-color: rgba($color: #ffffff, $alpha: 0.6);
  border-radius: 30px 30px 15px 30px;
  border: 3px solid white;
  box-shadow: 0 2px 4px rgba($color: #0a74ff, $alpha: 0.2);
  margin: 20px;
  padding: 20px;
  transition: box-shadow 0.3s, transform 0.3s;
  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.7);
    transform: rotate(2deg);
    box-shadow: 0 6px 15px rgba($color: #0a74ff, $alpha: 0.3);
  }
  .d-flex {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    @media only screen and (max-width: 960px) {
      padding: 0 20px;
    }
    @media only screen and (max-width: 530px) {
      padding: 0;
    }
    @media only screen and (max-width: 400px) {
      padding: 0;
    }
  }

  .commodity {
    font-size: 16px;
    color: #566597;
  }
  .item-btn {
    cursor: pointer;
    background-color: #3da5eb;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 7px 20px;
    border-radius: 20px;
    font-size: 12px;
    box-shadow: 0 3px 10px rgba($color: #0059ff, $alpha: 0.4);
    transition: 0.3s;
    &:hover {
      box-shadow: none;
    }
  }

  .entry,
  .expiration {
    color: #566597;
    font-size: 12px;
    @media only screen and (max-width: 960px) {
      padding: 0 20px;
    }
    @media only screen and (max-width: 530px) {
      padding: 0;
    }
    @media only screen and (max-width: 400px) {
      padding: 0;
    }
  }
}
