.App {
  background-image: url('./Static/Images/Bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Vazir', Vazir, Tahoma, Arial, sans-serif !important;
}
